@import "https://fonts.googleapis.com/css?family=Quicksand";
:root {
  --primary: white;
  --random-color: #2d1dba;
  --random-color-2: #f772ff;
}

html {
  height: 100%;
}

body {
  text-align: center;
  align-items: center;
  font-family: Quicksand;
  background-color: #f772ff;
  background-image: linear-gradient(
    to top right,
    var(--random-color-2),
    var(--random-color)
  );
  color: var(--primary);
  background-repeat: no-repeat;
}

h1:first-child {
  margin: 7em 0 1em 0;
}

.sub-text {
  font-size: 1.2em;
  margin: 0.5em 0 1em 0;
}

.btn {
  display: inline-block;
  border-radius: 2px;
  border: none;
  height: 45px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sm {
  width: 20em;
}

.ghost {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  transition: 0.2s ease;

  &:hover {
    background-color: var(--primary);
    color: var(--random-color);
    transition: 0.2s ease;
  }
}

.fa-copy {
  margin: 0 0.5em;
  padding: 0.75em;
  line-height: 20px;
  border-radius: 0.55em;
}

#random-color {
  text-decoration: underline;
}

#random-color-2 {
  text-decoration: underline;
}
