@import "https://fonts.googleapis.com/css?family=Quicksand";
:root {
  --primary: white;
  --random-color: blue;
}

body {
  text-align: center;
  align-items: center;
  font-family: Quicksand;
  background-color: var(--random-color);
  color: var(--primary);
}

h1:first-child {
  margin: 7em 0 1em 0;
}

.sub-text {
  font-size: 1.2em;
  margin: 0.5em 0 1em 0;
}

.btn {
  display: inline-block;
  border-radius: 2px;
  border: none;
  height: 45px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sm {
  width: 20em;
}

.ghost {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  transition: 0.2s ease;

  &:hover {
    background-color: var(--primary);
    color: var(--random-color);
    transition: 0.2s ease;
  }
}

.fa-copy:before {
  padding: 0.25em;
  line-height: 20px;
  border-radius: 0.4em;
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  transition: 0.2s ease;
}

.fa-copy:after {
  background-color: var(--primary);
  color: var(--random-color);
  transition: 0.2s ease;
}

.random-color {
  text-decoration: underline;
}
