@import "https://fonts.googleapis.com/css?family=Quicksand";
:root {
  --primary: white;
  --random-color: blue; }

body {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Quicksand;
  background-color: var(--random-color);
  color: var(--primary); }

h1:first-child {
  margin: 7em 0 1em 0; }

.sub-text {
  font-size: 1.2em;
  margin: 0.5em 0 1em 0; }

.btn {
  display: inline-block;
  border-radius: 2px;
  border: none;
  height: 45px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px; }

.sm {
  width: 20em; }

.ghost {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease; }
  .ghost:hover {
    background-color: var(--primary);
    color: var(--random-color);
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }

.fa-copy {
  margin: 0 0.5em;
  padding: 0.75em;
  line-height: 20px;
  border-radius: 0.55em; }

#random-color {
  text-decoration: underline; }
