body,
html {
  height: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #d4dad9;
  color: #252525;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container {
  height: 60vh;
  width: 90vh;
  background-color: #f2f3f5;
  display: flex;
  //   justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  flex-direction: row;
  text-align: center;
  box-shadow: 0 30px 40px -15px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  border: 5px solid white;
}

.picture {
  height: 70vh;
  opacity: 0.8;
  border-right: 3px solid white;
  width: 45%;
  float: left;
}

// .slide {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-wrap: wrap;
//   flex-direction: column;
//   width: 100%;
//   height: 100%;
// }

// .card {
//   width: 90vmin;
//   height: 55vmin;
//   display: flex;
//   box-shadow: 0 30px 40px -15px rgba(0, 0, 0, 0.35);
//   background-color: #fff;
// }

// .card__img {
//   background-position: center;
//   width: 50%;
//   height: 100%;
//   background-size: cover;
//   background-repeat: no-repeat;
// }

// #img01 {
//   background-image: url("https://images.unsplash.com/photo-1477865634015-0b232c1dd56a?dpr=1&auto=format&fit=crop&w=1500&h=2109&q=80&cs=tinysrgb&crop=");
// }

// #img02 {
//   background-image: url("https://images.unsplash.com/photo-1495041405835-b4702187b514?dpr=1&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop=");
// }

// #img03 {
//   background-image: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?dpr=1&auto=compress,format&fit=crop&w=2734&h=&q=80&cs=tinysrgb&crop=");
// }

// .card__content {
//   padding: 10% 5%;
//   box-sizing: border-box;
//   width: 50%;
// }

// .card__content-theme {
//   font-weight: 900;
//   font-size: 1.7vmin;
// }

// .card__content-header {
//   font-weight: 900;
//   font-size: 54px;
//   font-size: 7vmin;
//   text-transform: capitalize;
//   letter-spacing: 0.01em;
//   line-height: 0.91;
//   margin: 3vmin 0 3.5vmin;
// }

// .card__content-paragraph {
//   font-size: 1.6vmin;
//   line-height: 1.7;
//   font-weight: 300;
//   margin-bottom: 2.5vmin;
// }

// .card__content-link {
//   color: #ba3428;
//   font-size: 1.8vmin;
//   display: block;
//   cursor: pointer;
//   opacity: 0.7;
//   transition: opacity 0.3s ease;

//   &:hover {
//     opacity: 1;
//   }

//   &:after {
//     content: " →";
//   }
// }

// .prevnext {
//   position: absolute;
//   width: 4vmin;
//   height: 8vmin;
//   right: 2%;
//   bottom: 0;
//   top: 0;
//   margin: auto 0;
// }

// .prevnext-button {
//   width: 100%;
//   height: 50%;
//   border: 0;
//   background-color: transparent;
//   font-size: 20px;
// }

// #prev,
// #next {
//   position: relative;
//   cursor: pointer;

//   &:hover {
//     &:after,
//     &:after {
//       opacity: 1;
//     }
//   }
// }

// #prev:after,
// #next:after {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   margin: auto;
//   opacity: 0.6;
//   transition: opacity 0.3s ease;
// }

// #prev:after {
//   content: "↑";
// }

// #next:after {
//   content: "↓";
// }
