@import 'https://fonts.googleapis.com/css?family=Quicksand';
@import url("https://fonts.googleapis.com/css?family=Dancing Script");
@import url("https://fonts.googleapis.com/css?family=Lato:400,800");
$header-font: "Dancing Script", sans-serif;;
$font: "Quicksand";
$media-color: #48B2D4;

body {
  margin: 0;
}

// -----------Undecided/Temp--------------------------
.fas,
.icon::before {
  color: $media-color;
  font-size: 2.3em;
  display: block;
  padding: 0.2em 0.2em;
}
.icon-text {
  font-size: 20px;
  font-family: $font;
}
.icon-space {
  height: 20em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  // align-items: center;
  text-align: center;
  justify-content: center;
}
.icon {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: 0.05em 0.8em;
  margin-bottom: 50px;
}
.icon-text-wrap {
  height: 5em;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;@import 'https://fonts.googleapis.com/css?family=Quicksand';@import 'https://fonts.googleapis.com/css?family=Quicksand';
@import url("https://fonts.googleapis.com/css?family=Dancing Script");
@import url("https://fonts.googleapis.com/css?family=Lato:400,800");
$header-font: "Dancing Script", sans-serif;;
$font: "Quicksand";
$media-color: #48B2D4;

body {
  margin: 0;
}

// -----------Undecided/Temp--------------------------
.sec1-title {
  font-size: 7em;
  color: #D17F89;
  font-family: $header-font;
  position: relative;
  top: -7em;
  z-index: 3;
  user-select: none;
  // font-family: Lato,sans-serif;
  margin: 0 1em;
  transform: rotate(-17deg);
  // text-shadow: 3px 3px rgba(72, 178, 212, 0.4);
  background-image: -webkit-linear-gradient(#48B2D4, #D17F89, #E6D45A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 10px 0 rgba(255,255,255,1);
}

.sec1-title:after {
  background: none;
  content: attr(data-text);
  z-index: 3;
  position: absolute;
}
// -----------Header--------------------------------
.title {
  font-family: $header-font;
  margin: 0.3em 1em;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
}
.title:hover {
  background-image: -webkit-linear-gradient(#48B2D4, #D17F89, #E6D45A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}
.nav *:hover {
  color: $media-color;
}
.nav {
  display: none;
}
.show {
  display: block !important;
}
.nav-bar {
  z-index: 5;
  overflow: hidden;
  background-color: rgba(255,255,255,0.6);
  position: fixed;
  width: 100%;
  user-select: none;
  padding: 0.4em 0px;
  font-family: $font;
  box-shadow: 0 0 9px rgba(0, 0, 0, .25);
  
     &:before{
      content: "";
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 1;
    }

    ul {
      margin: 0.5em;
      z-index: 2;
      text-transform: lowercase;
      text-align: center;

      li {
        display: inline-block;
        padding: 1.4em 0;
        margin-right: 3em;
        font-size: 0.9em;

        a {
          text-decoration: none;
          color: black;
          font-size: 1em;
        }
      }
    }
}
.toggle-bars {
  position: absolute;
  top: 8px;
  right:30px;
  cursor:pointer;
}
.toggle-bars .bar {
  width: 25px;
  background-color: #000000;
  margin: 5px 0;
  height:2px;
}
.nav-bar li.navbar_items a:hover {
  border-bottom-style: solid;
  font-weight: bold;
  border-bottom-color: $media-color;
    // padding-bottom: 5px;
  margin: 1em 0;
}
.nav li a {
    padding: 8px 6px;
    text-decoration: none;
}
// -----------Media Left Bar----------------------------
.media-links {
  z-index: 5;
  font-family: $font;
  font-weight: bold;
  background-color: rgba(255,255,255,0.6);
  box-shadow: 0 0 9px rgba(0, 0, 0, .25);
  top: 70%;
  position: fixed;
  color: black;
  border-radius: 1.5em;
  left: -2.5em;
  
   .media-links-content li {
    text-align: center;
    margin: 7px 1px;
    list-style-type: none;
    position: relative;

    .fab,
    .fas,
    .far {
      font-size: 18px;
      display: block;
      padding: 8px;
      border-radius: 8px;

      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
    span {
      white-space: nowrap;
      position: absolute;
      top: 8px;
      left: -150px;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      -webkit-transition: opacity 0.5s ease-in-out;
    }

    &:hover span {
      left: 55px;
      opacity: 1;
    }

    &:hover .fa-facebook-f {
      // background: #526fa3;
      background: $media-color;
      border-color: #526fa3;
    }
    &:hover .fa-twitter {
      // background: #4db8ec;
      background: $media-color;
      border-color: #4db8ec;
    }
    &:hover .fa-google-plus-g {
      // background: #d14c2d;
      background: $media-color;
      border-color: #d14c2d;
    }
  }
}
// -----------Sections--------------------------------
// ---------------------------------------------------
// ---------------------------------------------------
section {
  width: 100%;
  height: 120vh;
  background-color: gray;
}
// -----------First--------------------------------
// ------------------------------------------------
#first-section {
  z-index: -5;
  background-image: url("https://github.com/Kefimochi/Random-stuff/blob/master/Femochi's%20Colors/unsplash.com.photos.twukN12EN7c.jpg?raw=true");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 40vh;
  max-height: 100%;
}
.transparent {
  background-color: rgba(255,255,255,0.4);
  width: 90%;
  height: 140vh;
  border-radius: 0em 40em 30em 0em;
  z-index: -2;
}
.transparent-2 {
  background-color: rgba(255,255,255,0.15);
  width: 99%;
  height: 120vh;
  border-radius: 0em 30em 40em 0em;
  position: absolute;
  top: 0%;
  // z-index: -1;
}
.transparent-3 {
  background-color: rgba(255,255,255,0.2);
  width: 90%;
  height: 120vh;
  border-radius: 0em 30em 40em 0em;
  position: absolute;
  top: 0%;
  // z-index: -1;
}
.main-tr {
  background-color: rgba(255,255,255,0.7);
  width: 75%;
  height: 150vh;
  border-radius: 0em 30em 30em 0em;
  position: absolute;
  top: -5em;
  z-index: 0;
}
// -----------Second--------------------------------
// -------------------------------------------------
#second-section {
  z-index: 1;
  position: absolute;
  height: 160vh;
  background-color: $media-color;
}
.fas,
.icon::before {
  color: $media-color;
  font-size: 2.3em;
  display: block;
  padding: 0.2em 0.2em;
}
.icon-text {
  font-size: 20px;
  font-family: $font;
}
.icon-space {
  height: 20em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  // align-items: center;
  text-align: center;
  justify-content: center;
}
.icon {
  background-color: gray;
  padding: 10px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: 0.1em 2.3em;
  margin-bottom: 50px;
}
.icon-text-wrap {
  height: 5em;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: -0.5em;
  text-align: center;
  justify-content: center;
  background-color: $media-color;
}
.icons {
  height: 270px;
  width: 200px;
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: row;
  margin: 2em 1em 0 0;
  text-align: center;
  justify-content: center;
  background-color: $media-color;
}
// -----------Third--------------------------------
// ------------------------------------------------
#third-section {
  height: 120vh;
}
// -----------Fourth--------------------------------
// -------------------------------------------------
#fourth-section {
  height: 120vh;
}
// -----------Fifth--------------------------------
// ------------------------------------------------
#fifth-section {
  height: 120vh;
  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// -----------Other screen sizes-------------------------
// ------------------------------------------------------
@media screen and (min-width: 947px){
  .title {
    margin: 0.5em 1.2em;
  }
  .nav-bar {
    display: flex;   
    flex-direction: inherit;
    flex-wrap: wrap; 
    padding: 0 0px;
    justify-content: space-between;
  }
  .nav {
    padding: 10px 30px;
  }
    .toggle-bars {
      display: none;
    }
    .nav {
    display: block;
  }
  .nav ul {
    display: flex; 
    justify-content: space-between;
  }
  .nav ul li {
    padding:0 0px;
    font-size: 16px;
    margin: 0 1em;
  }
  
}
@media screen and (max-width: 550px) {
  // -----------First--------------------------------
  .transparent {
    width: 100%;
    height: 140vh;
    border-radius: 0em 10em 30em 0em;
    z-index: -2;
  }
  .transparent-2 {
    width: 100%;
    height: 120vh;
    border-radius: 0em 30em 40em 0em;
  }
  .transparent-3 {
    width: 100%;
    height: 120vh;
    border-radius: 0em 30em 40em 0em;
  }
  .main-tr {
    width: 100%;
    height: 120vh;
    border-radius: 0em 25em 25em 0em;
    position: absolute;
    top: 0em;
    z-index: 0;
  }
  // -----------Second--------------------------------
  .fas,
  .icon::before {
    font-size: 2.3em;
    display: block;
    padding: 0.2em 0.2em;
  }
  .icon-text {
    font-size: 20px;
  }
  .icon-space {
    height: 70em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    // align-items: center;
    text-align: center;
    justify-content: center;
  }
  .icon {
    padding: 10px;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 0.1em 2.3em;
    margin-bottom: 50px;
  }
  .icons {
    height: 20em;
    width: 70%;
  }
}
@import url("https://fonts.googleapis.com/css?family=Dancing Script");
@import url("https://fonts.googleapis.com/css?family=Lato:400,800");
$header-font: "Dancing Script", sans-serif;;
$font: "Quicksand";
$media-color: #48B2D4;

body {
  margin: 0;
}

// -----------Undecided/Temp--------------------------
.sec1-title {
  font-size: 7em;
  color: #D17F89;
  font-family: $header-font;
  position: relative;
  top: -7em;
  z-index: 3;
  user-select: none;
  // font-family: Lato,sans-serif;
  margin: 0 1em;
  transform: rotate(-17deg);
  // text-shadow: 3px 3px rgba(72, 178, 212, 0.4);
  background-image: -webkit-linear-gradient(#48B2D4, #D17F89, #E6D45A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 10px 0 rgba(255,255,255,1);
}

.sec1-title:after {
  background: none;
  content: attr(data-text);
  z-index: 3;
  position: absolute;
}
// -----------Header--------------------------------
.title {
  font-family: $header-font;
  margin: 0.3em 1em;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
}
.title:hover {
  background-image: -webkit-linear-gradient(#48B2D4, #D17F89, #E6D45A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}
.nav *:hover {
  color: $media-color;
}
.nav {
  display: none;
}
.show {
  display: block !important;
}
.nav-bar {
  z-index: 5;
  overflow: hidden;
  background-color: rgba(255,255,255,0.6);
  position: fixed;
  width: 100%;
  user-select: none;
  padding: 0.4em 0px;
  font-family: $font;
  box-shadow: 0 0 9px rgba(0, 0, 0, .25);
  
     &:before{
      content: "";
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 1;
    }

    ul {
      margin: 0.5em;
      z-index: 2;
      text-transform: lowercase;
      text-align: center;

      li {
        display: inline-block;
        padding: 1.4em 0;
        margin-right: 3em;
        font-size: 0.9em;

        a {
          text-decoration: none;
          color: black;
          font-size: 1em;
        }
      }
    }
}
.toggle-bars {
  position: absolute;
  top: 8px;
  right:30px;
  cursor:pointer;
}
.toggle-bars .bar {
  width: 25px;
  background-color: #000000;
  margin: 5px 0;
  height:2px;
}
.nav-bar li.navbar_items a:hover {
  border-bottom-style: solid;
  font-weight: bold;
  border-bottom-color: $media-color;
    // padding-bottom: 5px;
  margin: 1em 0;
}
.nav li a {
    padding: 8px 6px;
    text-decoration: none;
}
// -----------Media Left Bar----------------------------
.media-links {
  z-index: 5;
  font-family: $font;
  font-weight: bold;
  background-color: rgba(255,255,255,0.6);
  box-shadow: 0 0 9px rgba(0, 0, 0, .25);
  top: 70%;
  position: fixed;
  color: black;
  border-radius: 1.5em;
  left: -2.5em;
  
   .media-links-content li {
    text-align: center;
    margin: 7px 1px;
    list-style-type: none;
    position: relative;

    .fab,
    .fas,
    .far {
      font-size: 18px;
      display: block;
      padding: 8px;
      border-radius: 8px;

      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
    span {
      white-space: nowrap;
      position: absolute;
      top: 8px;
      left: -150px;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      -webkit-transition: opacity 0.5s ease-in-out;
    }

    &:hover span {
      left: 55px;
      opacity: 1;
    }

    &:hover .fa-facebook-f {
      // background: #526fa3;
      background: $media-color;
      border-color: #526fa3;
    }
    &:hover .fa-twitter {
      // background: #4db8ec;
      background: $media-color;
      border-color: #4db8ec;
    }
    &:hover .fa-google-plus-g {
      // background: #d14c2d;
      background: $media-color;
      border-color: #d14c2d;
    }
  }
}
// -----------Sections--------------------------------
// ---------------------------------------------------
// ---------------------------------------------------
section {
  width: 100%;
  height: 120vh;
  background-color: gray;
}
// -----------First--------------------------------
// ------------------------------------------------
#first-section {
  z-index: -5;
  background-image: url("https://github.com/Kefimochi/Random-stuff/blob/master/Femochi's%20Colors/unsplash.com.photos.twukN12EN7c.jpg?raw=true");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 40vh;
  max-height: 100%;
}
.transparent {
  background-color: rgba(255,255,255,0.4);
  width: 90%;
  height: 140vh;
  border-radius: 0em 40em 30em 0em;
  z-index: -2;
}
.transparent-2 {
  background-color: rgba(255,255,255,0.15);
  width: 99%;
  height: 120vh;
  border-radius: 0em 30em 40em 0em;
  position: absolute;
  top: 0%;
  // z-index: -1;
}
.transparent-3 {
  background-color: rgba(255,255,255,0.2);
  width: 90%;
  height: 120vh;
  border-radius: 0em 30em 40em 0em;
  position: absolute;
  top: 0%;
  // z-index: -1;
}
.main-tr {
  background-color: rgba(255,255,255,0.7);
  width: 75%;
  height: 150vh;
  border-radius: 0em 30em 30em 0em;
  position: absolute;
  top: -5em;
  z-index: 0;
}
// -----------Second--------------------------------
// -------------------------------------------------
#second-section {
  z-index: 1;
  position: absolute;
  height: 160vh;
  background-color: $media-color;
}
.fas,
.icon::before {
  color: $media-color;
  font-size: 2.3em;
  display: block;
  padding: 0.2em 0.2em;
}
.icon-text {
  font-size: 20px;
  font-family: $font;
}
.icon-space {
  height: 20em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  // align-items: center;
  text-align: center;
  justify-content: center;
}
.icon {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: 0.1em 2.3em;
  margin-bottom: 50px;
}
.icon-text-wrap {
  height: 5em;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: -0.5em;
  text-align: center;
  justify-content: center;
  background-color: $media-color;
}
.icons {
  height: 10em;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2em 0 0 0;
  text-align: center;
  justify-content: center;
  background-color: $media-color;
}
// -----------Third--------------------------------
// ------------------------------------------------
#third-section {
  height: 120vh;
}
// -----------Fourth--------------------------------
// -------------------------------------------------
#fourth-section {
  height: 120vh;
}
// -----------Fifth--------------------------------
// ------------------------------------------------
#fifth-section {
  height: 120vh;
  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// -----------Other screen sizes-------------------------
// ------------------------------------------------------
@media screen and (min-width: 947px){
  .title {
    margin: 0.5em 1.2em;
  }
  .nav-bar {
    display: flex;   
    flex-direction: inherit;
    flex-wrap: wrap; 
    padding: 0 0px;
    justify-content: space-between;
  }
  .nav {
    padding: 10px 30px;
  }
    .toggle-bars {
      display: none;
    }
    .nav {
    display: block;
  }
  .nav ul {
    display: flex; 
    justify-content: space-between;
  }
  .nav ul li {
    padding:0 0px;
    font-size: 16px;
    margin: 0 1em;
  }
  
}
@media screen and (max-width: 550px) {
  // -----------First--------------------------------
  .transparent {
    width: 100%;
    height: 140vh;
    border-radius: 0em 10em 30em 0em;
    z-index: -2;
  }
  .transparent-2 {
    width: 100%;
    height: 120vh;
    border-radius: 0em 30em 40em 0em;
  }
  .transparent-3 {
    width: 100%;
    height: 120vh;
    border-radius: 0em 30em 40em 0em;
  }
  .main-tr {
    width: 100%;
    height: 120vh;
    border-radius: 0em 25em 25em 0em;
    position: absolute;
    top: 0em;
    z-index: 0;
  }
  // -----------Second--------------------------------
  .fas,
  .icon::before {
    font-size: 2.3em;
    display: block;
    padding: 0.2em 0.2em;
  }
  .icon-text {
    font-size: 20px;
  }
  .icon-space {
    height: 42em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    // align-items: center;
    text-align: center;
    justify-content: center;
  }
  .icon {
    padding: 10px;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 0.1em 2.3em;
    margin-bottom: 50px;
  }
  .icon-text-wrap {
    height: 5em;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: -0.5em;
    text-align: center;
    justify-content: center;
  }
  .icons {
    height: 35.5em;
  }
}
  margin: -0.5em;
  text-align: center;
  justify-content: center;
  background-color: $media-color;
}
.icons {
  height: 10em;
  width: 80%;
  display: flex;
  flex-wrap: wrap;@import 'https://fonts.googleapis.com/css?family=Quicksand';
@import url("https://fonts.googleapis.com/css?family=Dancing Script");
@import url("https://fonts.googleapis.com/css?family=Lato:400,800");
$header-font: "Dancing Script", sans-serif;;
$font: "Quicksand";
$media-color: #48B2D4;

body {
  margin: 0;
}

// -----------Undecided/Temp--------------------------
.fas,
.icon::before {
  color: $media-color;
  font-size: 2.3em;
  display: block;
  padding: 0.2em 0.2em;
}
.icon-text {
  font-size: 20px;
  font-family: $font;
}
.icon-space {
  height: 20em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  // align-items: center;
  text-align: center;
  justify-content: center;
}
.icon {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: 0.1em 2.3em;
  margin-bottom: 50px;
}
.icon-text-wrap {
  height: 5em;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: -0.5em;
  text-align: center;
  justify-content: center;
  background-color: $media-color;
}
.icons {
  height: 10em;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2em 0 0 0;
  text-align: center;
  justify-content: center;
  background-color: $media-color;
}
.sec1-title {
  font-size: 7em;
  color: #D17F89;
  font-family: $header-font;
  position: relative;
  top: -7em;
  z-index: 3;
  user-select: none;
  // font-family: Lato,sans-serif;
  margin: 0 1em;
  transform: rotate(-17deg);
  // text-shadow: 3px 3px rgba(72, 178, 212, 0.4);
  background-image: -webkit-linear-gradient(#48B2D4, #D17F89, #E6D45A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 10px 0 rgba(255,255,255,1);
}

.sec1-title:after {
  background: none;
  content: attr(data-text);
  z-index: 3;
  position: absolute;
}
// -----------Header--------------------------------
.title {
  font-family: $header-font;
  margin: 0.3em 1em;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
}
.title:hover {
  background-image: -webkit-linear-gradient(#48B2D4, #D17F89, #E6D45A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}
.nav *:hover {
  color: $media-color;
}
.nav {
  display: none;
}
.show {
  display: block !important;
}
.nav-bar {
  z-index: 5;
  overflow: hidden;
  background-color: rgba(255,255,255,0.6);
  position: fixed;
  width: 100%;
  user-select: none;
  padding: 0.4em 0px;
  font-family: $font;
  box-shadow: 0 0 9px rgba(0, 0, 0, .25);
  
     &:before{
      content: "";
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 1;
    }

    ul {
      margin: 0.5em;
      z-index: 2;
      text-transform: lowercase;
      text-align: center;

      li {
        display: inline-block;
        padding: 1.4em 0;
        margin-right: 3em;
        font-size: 0.9em;

        a {
          text-decoration: none;
          color: black;
          font-size: 1em;
        }
      }
    }
}
.toggle-bars {
  position: absolute;
  top: 8px;
  right:30px;
  cursor:pointer;
}
.toggle-bars .bar {
  width: 25px;
  background-color: #000000;
  margin: 5px 0;
  height:2px;
}
.nav-bar li.navbar_items a:hover {
  border-bottom-style: solid;
  font-weight: bold;
  border-bottom-color: $media-color;
    // padding-bottom: 5px;
  margin: 1em 0;
}
.nav li a {
    padding: 8px 6px;
    text-decoration: none;
}
// -----------Media Left Bar----------------------------
.media-links {
  z-index: 5;
  font-family: $font;
  font-weight: bold;
  background-color: rgba(255,255,255,0.6);
  box-shadow: 0 0 9px rgba(0, 0, 0, .25);
  top: 70%;
  position: fixed;
  color: black;
  border-radius: 1.5em;
  left: -2.5em;
  
   .media-links-content li {
    text-align: center;
    margin: 7px 1px;
    list-style-type: none;
    position: relative;

    .fab,
    .fas,
    .far {
      font-size: 18px;
      display: block;
      padding: 8px;
      border-radius: 8px;

      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
    span {
      white-space: nowrap;
      position: absolute;
      top: 8px;
      left: -150px;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      -webkit-transition: opacity 0.5s ease-in-out;
    }

    &:hover span {
      left: 55px;
      opacity: 1;
    }

    &:hover .fa-facebook-f {
      // background: #526fa3;
      background: $media-color;
      border-color: #526fa3;
    }
    &:hover .fa-twitter {
      // background: #4db8ec;
      background: $media-color;
      border-color: #4db8ec;
    }
    &:hover .fa-google-plus-g {
      // background: #d14c2d;
      background: $media-color;
      border-color: #d14c2d;
    }
  }
}
// -----------Sections--------------------------------
// ---------------------------------------------------
// ---------------------------------------------------
section {
  width: 100%;
  height: 120vh;
  background-color: gray;
}
// -----------First--------------------------------
// ------------------------------------------------
#first-section {
  z-index: -5;
  background-image: url("https://github.com/Kefimochi/Random-stuff/blob/master/Femochi's%20Colors/unsplash.com.photos.twukN12EN7c.jpg?raw=true");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 40vh;
  max-height: 100%;
}
.transparent {
  background-color: rgba(255,255,255,0.4);
  width: 90%;
  height: 140vh;
  border-radius: 0em 40em 30em 0em;
  z-index: -2;
}
.transparent-2 {
  background-color: rgba(255,255,255,0.15);
  width: 99%;
  height: 120vh;
  border-radius: 0em 30em 40em 0em;
  position: absolute;
  top: 0%;
  // z-index: -1;
}
.transparent-3 {
  background-color: rgba(255,255,255,0.2);
  width: 90%;
  height: 120vh;
  border-radius: 0em 30em 40em 0em;
  position: absolute;
  top: 0%;
  // z-index: -1;
}
.main-tr {
  background-color: rgba(255,255,255,0.7);
  width: 75%;
  height: 150vh;
  border-radius: 0em 30em 30em 0em;
  position: absolute;
  top: -5em;
  z-index: 0;
}
// -----------Second--------------------------------
// -------------------------------------------------
#second-section {
  z-index: 1;
  position: absolute;
}
// -----------Third--------------------------------
// ------------------------------------------------
#third-section {
  
}
// -----------Fourth--------------------------------
// -------------------------------------------------
#fourth-section {
  
}
// -----------Fifth--------------------------------
// ------------------------------------------------
#fifth-section {
  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// -----------Other screen sizes-------------------------
// ------------------------------------------------------
@media screen and (min-width: 947px){
  .title {
    margin: 0.5em 1.2em;
  }
  .nav-bar {
    display: flex;   
    flex-direction: inherit;
    flex-wrap: wrap; 
    padding: 0 0px;
    justify-content: space-between;
  }
  .nav {
    padding: 10px 30px;
  }
    .toggle-bars {
      display: none;
    }
    .nav {
    display: block;
  }
  .nav ul {
    display: flex; 
    justify-content: space-between;
  }
  .nav ul li {
    padding:0 0px;
    font-size: 16px;
    margin: 0 1em;
  }
  
}
@media screen and (max-width: 550px) {
  .transparent {
    width: 100%;
    height: 140vh;
    border-radius: 0em 10em 30em 0em;
    z-index: -2;
  }
  .transparent-2 {
    width: 100%;
    height: 120vh;
    border-radius: 0em 30em 40em 0em;
  }
  .transparent-3 {
    width: 100%;
    height: 120vh;
    border-radius: 0em 30em 40em 0em;
  }
  .main-tr {
    width: 100%;
    height: 120vh;
    border-radius: 0em 25em 25em 0em;
    position: absolute;
    top: 0em;
    z-index: 0;
  }
}
        flex-direction: row;
  margin: 1em 0 0 0;
  text-align: center;
  justify-content: center;
  background-color: $media-color;
}
.sec1-desc {
  top: -40em;
  position: relative;
  z-index: 4;
  font-size: 1em;
  font-family: $font;
}
.sec1-title {
  font-size: 5em;
  color: #D17F89;
  font-family: $header-font;
  position: relative;
  top: -10em;
  z-index: 3;
  user-select: none;
  // font-family: Lato,sans-serif;
  margin: 0 1em;
  transform: rotate(-17deg);
  // text-shadow: 3px 3px rgba(72, 178, 212, 0.4);
  background-image: -webkit-linear-gradient(#48B2D4, #D17F89, #E6D45A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 10px 0 rgba(255,255,255,1);
}

.sec1-title:after {
  background: none;
  content: attr(data-text);
  z-index: 3;
  position: absolute;
}
// -----------Header--------------------------------
.title {
  font-family: $header-font;
  margin: 0.3em 1em;
  font-size: 1.5em;
  color: black;
  text-decoration: none;
}
.title:hover {
  background-image: -webkit-linear-gradient(#48B2D4, #D17F89, #E6D45A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}
.nav *:hover {
  color: $media-color;
}
.nav {
  display: none;
}
.show {
  display: block !important;
}
.nav-bar {
  z-index: 5;
  overflow: hidden;
  background-color: rgba(255,255,255,0.6);
  position: fixed;
  width: 100%;
  user-select: none;
  padding: 0.4em 0px;
  font-family: $font;
  box-shadow: 0 0 9px rgba(0, 0, 0, .25);
  
     &:before{
      content: "";
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 1;
    }

    ul {
      margin: 0.5em;
      z-index: 2;
      text-transform: lowercase;
      text-align: center;

      li {
        display: inline-block;
        padding: 1.4em 0;
        margin-right: 3em;
        font-size: 0.9em;

        a {
          text-decoration: none;
          color: black;
          font-size: 1em;
        }
      }
    }
}
.toggle-bars {
  position: absolute;
  top: 8px;
  right:30px;
  cursor:pointer;
}
.toggle-bars .bar {
  width: 25px;
  background-color: #000000;
  margin: 5px 0;
  height:2px;
}
.nav-bar li.navbar_items a:hover {
  border-bottom-style: solid;
  font-weight: bold;
  border-bottom-color: $media-color;
    // padding-bottom: 5px;
  margin: 1em 0;
}
.nav li a {
    padding: 8px 6px;
    text-decoration: none;
}
// -----------Media Left Bar----------------------------
.media-links {
  z-index: 5;
  font-family: $font;
  font-weight: bold;
  background-color: rgba(255,255,255,0.6);
  box-shadow: 0 0 9px rgba(0, 0, 0, .25);
  top: 70%;
  position: fixed;
  color: black;
  border-radius: 1.5em;
  left: -2.5em;
  
   .media-links-content li {
    text-align: center;
    margin: 7px 1px;
    list-style-type: none;
    position: relative;

    .fab,
    .fas,
    .far {
      font-size: 18px;
      display: block;
      padding: 8px;
      border-radius: 8px;

      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
    span {
      white-space: nowrap;
      position: absolute;
      top: 8px;
      left: -150px;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      -webkit-transition: opacity 0.5s ease-in-out;
    }

    &:hover span {
      left: 55px;
      opacity: 1;
    }

    &:hover .fa-facebook-f {
      // background: #526fa3;
      background: $media-color;
      border-color: #526fa3;
    }
    &:hover .fa-twitter {
      // background: #4db8ec;
      background: $media-color;
      border-color: #4db8ec;
    }
    &:hover .fa-google-plus-g {
      // background: #d14c2d;
      background: $media-color;
      border-color: #d14c2d;
    }
  }
}
// -----------Sections--------------------------------
// ---------------------------------------------------
// ---------------------------------------------------
section {
  width: 100%;
  height: 120vh;
  background-color: gray;
}
// -----------First--------------------------------
// ------------------------------------------------
#first-section {
  z-index: -5;
  background-image: url("https://github.com/Kefimochi/Random-stuff/blob/master/Femochi's%20Colors/unsplash.com.photos.twukN12EN7c.jpg?raw=true");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 40vh;
  max-height: 100%;
}
.transparent {
  background-color: rgba(255,255,255,0.4);
  width: 90%;
  height: 140vh;
  border-radius: 0em 40em 30em 0em;
  z-index: -2;
}
.transparent-2 {
  background-color: rgba(255,255,255,0.15);
  width: 99%;
  height: 120vh;
  border-radius: 0em 30em 40em 0em;
  position: absolute;
  top: 0%;
  // z-index: -1;
}
.transparent-3 {
  background-color: rgba(255,255,255,0.2);
  width: 90%;
  height: 120vh;
  border-radius: 0em 30em 40em 0em;
  position: absolute;
  top: 0%;
  // z-index: -1;
}
.main-tr {
  background-color: rgba(255,255,255,0.7);
  width: 75%;
  height: 150vh;
  border-radius: 0em 30em 30em 0em;
  position: absolute;
  top: -5em;
  z-index: 0;
}
// -----------Second--------------------------------
// -------------------------------------------------
#second-section {
  z-index: 1;
  position: absolute;
}
// -----------Third--------------------------------
// ------------------------------------------------
#third-section {
  
}
// -----------Fourth--------------------------------
// -------------------------------------------------
#fourth-section {
  
}
// -----------Fifth--------------------------------
// ------------------------------------------------
#fifth-section {
  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// -----------Other screen sizes-------------------------
// ------------------------------------------------------
@media screen and (min-width: 947px){
  .title {
    margin: 0.5em 1.2em;
  }
  .nav-bar {
    display: flex;   
    flex-direction: inherit;
    flex-wrap: wrap; 
    padding: 0 0px;
    justify-content: space-between;
  }
  .nav {
    padding: 10px 30px;
  }
    .toggle-bars {
      display: none;
    }
    .nav {
    display: block;
  }
  .nav ul {
    display: flex; 
    justify-content: space-between;
  }
  .nav ul li {
    padding:0 0px;
    font-size: 16px;
    margin: 0 1em;
  }
  
}
@media screen and (max-width: 550px) {
  .transparent {
    width: 100%;
    height: 140vh;
    border-radius: 0em 10em 30em 0em;
    z-index: -2;
  }
  .transparent-2 {
    width: 100%;
    height: 120vh;
    border-radius: 0em 30em 40em 0em;
  }
  .transparent-3 {
    width: 100%;
    height: 120vh;
    border-radius: 0em 30em 40em 0em;
  }
  .main-tr {
    width: 100%;
    height: 120vh;
    border-radius: 0em 25em 25em 0em;
    position: absolute;
    top: 0em;
    z-index: 0;
  }
}
