@import "https://fonts.googleapis.com/css?family=Quicksand";
@import url("https://fonts.googleapis.com/css?family=Dancing Script");
@import url("https://fonts.googleapis.com/css?family=Lato:400,800");
$header-font: "Dancing Script", sans-serif;
$font: "Quicksand";
$yellow: #e6d45a;
$light-yellow: #eae09c;
$blue: #48b2d4;
$light-blue: #9ed0d3;
$pink: #cd7a74;
$light-pink: #f2c0ad;

body {
  margin: 0;
}

// -----------Undecided/Temp--------------------------
// -----------Header--------------------------------
.title {
  font-family: $header-font;
  margin: 0.5em 1em;
  font-size: 1.6em;
  color: black;
  text-decoration: none;
}
.title:hover {
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #e6d45a,
    #edc059,
    #efac5e,
    #ea9a65,
    #e18b6c,
    #e1837f,
    #d97f91,
    #cb7fa2,
    #b78bc1,
    #9599d6,
    #6ba7dc
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}
.show {
  display: block !important;
}
.nav *:hover {
  color: $blue;
}
.nav {
  display: block;
  padding: 10px 10px;
}
.nav-bar {
  scroll-behavior: smooth;
  display: flex;
  top: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 20;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  width: 100%;
  user-select: none;
  font-family: $font;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);

  &:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
  }

  ul {
    padding-inline-start: 0;
    margin: 0.5em;
    z-index: 2;
    text-transform: lowercase;
    text-align: center;

    li {
      display: inline-block;
      padding: 1.4em 0;
      margin-right: 3em;

      a {
        text-decoration: none;
        color: black;
        font-size: 1em;
      }
    }
  }
}
.toggle-bars {
  position: absolute;
  top: 8px;
  right: 30px;
  cursor: pointer;
  display: none;
}
.toggle-bars .bar {
  width: 27px;
  background-color: #000000;
  margin: 5px 0;
  height: 2px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.nav-bar li.nav-link a:hover {
  border-bottom-style: solid;
  font-weight: bold;
  border-bottom-color: $blue;
  margin: 1em 0;
}
.nav li a {
  // Blue underline
  padding: 10px 6px;
  text-decoration: none;
}
.nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav ul li {
  padding: 0 0px;
  font-size: 16px;
  margin: 0 1em;
}
// -----------Media Left Bar----------------------------
.media-links {
  z-index: 5;
  font-family: $font;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
  top: 70%;
  position: fixed;
  color: black;
  border-radius: 1.5em;
  left: -2.5em;

  .media-links-content li {
    text-align: center;
    margin: 7px 1px;
    list-style-type: none;
    position: relative;

    .fab,
    .fas,
    .far {
      font-size: 18px;
      display: block;
      padding: 8px;
      border-radius: 8px;

      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
    span {
      white-space: nowrap;
      position: absolute;
      top: 8px;
      left: -150px;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      -webkit-transition: opacity 0.5s ease-in-out;
    }

    &:hover span {
      left: 55px;
      opacity: 1;
    }

    &:hover .fa-facebook-f {
      background: $blue;
      border-color: #526fa3;
    }
    &:hover .fa-twitter {
      background: $blue;
      border-color: #4db8ec;
    }
    &:hover .fa-google-plus-g {
      background: $blue;
      border-color: #d14c2d;
    }
  }
}
// -----------Sections--------------------------------
// ---------------------------------------------------
// ---------------------------------------------------
section {
  width: 100%;
  height: 100vh;
  // opacity: 0.5;
  background-color: gray;
}
// -----------First--------------------------------
// ------------------------------------------------
#first-section {
  z-index: -5;
  background-image: url("background-first.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 40vh;
  height: 105vh;
  margin: 2.2em 0.6em 0 0.6em;
}
.transparent {
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 115vh;
  border-radius: 0 0 30em 30em;
  z-index: -2;
  // transform: skew(30deg, 30deg);
  // transform: rotate(30deg);
  // top: -30em;
}
.transparent-2 {
  background-color: rgba(255, 255, 255, 0.15);
  width: 99%;
  height: 120vh;
  border-radius: 0em 30em 40em 0em;
  position: absolute;
  top: 0%;
  // z-index: -1;
}
.transparent-3 {
  background-color: rgba(255, 255, 255, 0.2);
  width: 90%;
  height: 120vh;
  border-radius: 0em 30em 40em 0em;
  position: absolute;
  top: 0%;
  // z-index: -1;
}
.main-tr {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 80vh;
  border-radius: 0 0 40em 40em;
  // position: absolute;
  top: -1.5em;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  z-index: 0;
}
.sec1-title {
  padding: 1em 0 0.3em 0;
  margin: 0;
  font-size: 9em;
  font-family: $header-font;
  z-index: 5;
  user-select: none;
  // background-image: linear-gradient(
  //   to right top,
  //   #ffffff,
  //   #e6d45a,
  //   #edc059,
  //   #efac5e,
  //   #ea9a65,
  //   #e18b6c,
  //   #e1837f,
  //   #d97f91,
  //   #cb7fa2,
  //   #b78bc1,
  //   #9599d6,
  //   #6ba7dc
  // );
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  position: relative;
  text-align: center;
  text-shadow: 1px 0px 1px #e6d45a, 0px 1px 1px #edc059, 2px 1px 1px #efac5e,
    1px 2px 1px #ea9a65, 3px 2px 1px #e18b6c, 2px 3px 1px #e1837f,
    4px 3px 1px #d97f91, 3px 4px 1px #d97f91, 5px 4px 1px #b78bc1,
    4px 5px 1px #e18b6c, 6px 5px 1px #9599d6, 5px 6px 1px #e1837f,
    7px 6px 1px #b78bc1;
  // text-shadow: 1px 0px 1px #e6d45a, 0px 1px 1px #edc059, 2px 1px 1px #efac5e,
  // 1px 2px 1px #ea9a65, 3px 2px 1px #e18b6c, 2px 3px 1px #e1837f,
  // 4px 3px 1px #d97f91, 3px 4px 1px #d97f91, 5px 4px 1px #b78bc1,
  // 4px 5px 1px #e18b6c, 6px 5px 1px #9599d6, 5px 6px 1px #e1837f,
  // 7px 6px 1px #b78bc1;
  color: white;
}
.sec1-title-shadow {
  font-size: 9em;
  font-family: $header-font;
  top: -1.8em;
  z-index: 1;
  user-select: none;
  // background-image: linear-gradient(
  //   to left top,
  //   #e6d45a,
  //   #edc059,
  //   #efac5e,
  //   #ea9a65,
  //   #e18b6c,
  //   #e1837f,
  //   #d97f91,
  //   #cb7fa2,
  //   #b78bc1,
  //   #9599d6,
  //   #6ba7dc,
  //   #48b2d4
  // );
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // text-shadow: 0 9px 10px rgba(0, 0, 0, 0.325);
  position: relative;
  color: white;
  text-align: center;
}
.cursor-text-container {
  font-weight: 400;
  display: flex;
  justify-content: center;
  // position: relative;
  align-items: center;
  // top: -56em;
  font-family: $font;
  color: #fff6bc;
}
.cursor-text-container p {
  font-size: 2rem;
  padding: 0.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.cursor-text-container p span.typed-text {
  font-weight: bold;
  font-size: 1.4em;
  font-family: $header-font;
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #e6d45a,
    #edc059,
    #efac5e,
    #ea9a65,
    #e18b6c,
    #e1837f,
    #d97f91,
    #cb7fa2,
    #b78bc1,
    #9599d6,
    #6ba7dc
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cursor-text-container p span.cursor {
  display: inline-block;
  background-color: #fff;
  margin-left: 0.1rem;
  width: 2px;
  animation: blink 1s infinite;
}
.cursor-text-container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #fff;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #fff;
  }
}

.button-wrapper {
  margin: 2em 0;
  text-align: center;
}

.button {
  z-index: 10;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  letter-spacing: 0.5em;
  padding: 16px 7em;
  border-radius: 50em;
  font-weight: bold;
  transition: all 0.3s ease-out;
  color: #e1837f;
  background-color: white;
  box-shadow: 0 5px 20px 0 rgba(0, 40, 120, 0.2);
}

.button:hover {
  filter: brightness(0.89) contrast(1.3);
  background-color: #ccc;
  // box-shadow: 0 5px 20px 0 rgba(0, 40, 120, 0.3);
}
.button:active {
  letter-spacing: 5px;
}
// -----------Second--------------------------------
// -------------------------------------------------
#second-section {
  z-index: 1;
  position: relative;
  height: 180vh;
  background-color: $light-yellow;
  background-color: #fcf0ed;
}
.icon-space {
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
  height: 35em;
  width: 100%;
  display: flex;
  position: relative;
  top: -8.5em;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: $light-yellow;
  background-image: linear-gradient(
    60deg,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 0.32)
  );
  align-items: center;
  justify-content: center;
}
.fas,
.icon::before {
  color: white;
  font-size: 4.5em;
}
.icon-title {
  font-size: 1.2em;
  font-family: "Lato", bold;
}
.icon-text {
  font-size: 0.8em;
  font-family: $font;
  line-height: 1.6;
  margin: 0.1em;
}
.icon {
  padding: 20px 20px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25),
    0 0 4rem 0px rgba(100, 100, 100, 0.15);
  border-radius: 50%;
  width: 100px;
  border: 1px solid rgba(255, 255, 255, 0.85);
  height: 100px;
  display: flex;
  margin: 0.6em;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    30deg,
    #e6d45a,
    #edc059,
    #efac5e,
    #ea9a65,
    #e18b6c,
    #e1837f,
    #d97f91
  );
}
.icons {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1),
    0 0 4rem 0px rgba(100, 100, 100, 0.05);
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5em;
  align-items: center;
  height: 320px;
  width: 250px;
  margin: 1.1em 2.5em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}
.about-title {
  font-family: $font;
  font-size: 1.8em;
  margin-block-end: 0.4em;
  text-align: center;
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #e6d45a,
    #edc059,
    #efac5e,
    #ea9a65,
    #e18b6c,
    #e1837f,
    #d97f91,
    #cb7fa2,
    #b78bc1,
    #9599d6,
    #6ba7dc
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
// .about-container {
//   display: inline;
//   height: 100vh;
//   width: auto;
// }
.about-container {
  display: inline-block;
  display: flex;
  flex-direction: row;
}
.about-container h1 span {
  display: flex;
  flex-direction: row;
  text-indent: 50px;
  max-width: 40em;
  text-align: center;
  font-family: $font;
  display: inline-block;
  margin: 2em 4em;
  font-size: 0.7em;
  line-height: 2.2;
}
.about-container img {
  display: flex;
  // position: absolute;
  // display: inline-block;

  height: 25em;
  width: 25em;
}
// -----------Third--------------------------------
// ------------------------------------------------
#third-section {
  height: 110vh;
}
// -----------Fourth--------------------------------
// -------------------------------------------------
#fourth-section {
  height: 110vh;
}
// -----------Fifth--------------------------------
// ------------------------------------------------
#fifth-section {
  height: 110vh;
  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// -----------Other screen sizes-------------------------
// ------------------------------------------------------
// ------------------------------------------------------
@media screen and (max-width: 1005px) {
  // -----------Second--------------------------------
  .icon-space {
    height: 50em;
  }
  #second-section {
    height: 200vh;
  }
}

@media screen and (max-width: 775px) {
  // -----------Navigation bar-------------------------
  .title {
    margin: 0 1em;
  }
  .nav {
    display: none;
    width: 100%;
  }
  .nav-bar {
    padding: 0.4em 0px;

    ul li {
      display: inline-block;
      padding: 1.4em 0.3em;
      margin-right: 3em;
      // font-size: 1.1em;
    }
  }
  .toggle-bars {
    display: inline;
  }
  // -----------First--------------------------------
  .sec1-title-shadow {
    margin: 0 0 0 0.2em;
    font-size: 5em;
    font-family: $header-font;
    position: relative;
    top: -11.35em;
    z-index: 1;
    user-select: none;
    background-image: linear-gradient(
      to left top,
      #e6d45a,
      #edc059,
      #efac5e,
      #ea9a65,
      #e18b6c,
      #e1837f,
      #d97f91,
      #cb7fa2,
      #b78bc1,
      #9599d6,
      #6ba7dc,
      #48b2d4
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 9px 10px rgba(0, 0, 0, 0.325);
  }
  .sec1-title {
    margin: 0 0 0 0.2em;
    font-size: 5em;
    font-family: $header-font;
    position: relative;
    top: -9em;
    z-index: 3;
    user-select: none;
    background-image: linear-gradient(
      to right top,
      #ffffff,
      #e6d45a,
      #edc059,
      #efac5e,
      #ea9a65,
      #e18b6c,
      #e1837f,
      #d97f91,
      #cb7fa2,
      #b78bc1,
      #9599d6,
      #6ba7dc
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .cursor-text-container {
    top: -56em;
  }
  // -----------Second--------------------------------
  .icon-space {
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
    height: 78em;
    flex-direction: column;
  }
  #second-section {
    height: 300vh;
  }
}

@media screen and (max-width: 540px) {
  // -----------First--------------------------------
  .transparent {
    width: 100%;
    height: 140vh;
    border-radius: 0em 10em 30em 0em;
    z-index: -2;
  }
  .transparent-2 {
    width: 100%;
    height: 120vh;
    border-radius: 0em 30em 40em 0em;
  }
  .transparent-3 {
    width: 100%;
    height: 120vh;
    border-radius: 0em 30em 40em 0em;
  }
  .main-tr {
    width: 90%;
    height: 120vh;
    border-radius: 0em 19em 19em 0em;
    position: absolute;
    top: 0em;
    z-index: 0;
  }
  // -----------Second--------------------------------
}
