@import "_variables.scss";
@import "https://fonts.googleapis.com/css?family=Quicksand";
@import url("https://fonts.googleapis.com/css?family=Dancing Script");
@import url("https://fonts.googleapis.com/css?family=Lato:400,800");

#first-section {
  z-index: -5;
  background-image: url("../images/background-first.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 40vh;
  height: 105vh;
  margin: 2.2em 0.6em 0 0.6em;
}
.sec1-title {
  padding: 1em 0 0.3em 0;
  margin: 0;
  font-size: 9em;
  font-family: $header-font;
  z-index: 5;
  user-select: none;
  position: relative;
  text-align: center;
  text-shadow: 1px 0px 1px #e6d45a, 0px 1px 1px #edc059, 2px 1px 1px #efac5e,
    1px 2px 1px #ea9a65, 3px 2px 1px #e18b6c, 2px 3px 1px #e1837f,
    4px 3px 1px #d97f91, 3px 4px 1px #d97f91, 5px 4px 1px #b78bc1,
    4px 5px 1px #e18b6c, 6px 5px 1px #9599d6, 5px 6px 1px #e1837f,
    7px 6px 1px #b78bc1;
  color: white;
}
.cursor-text-container {
  font-weight: 400;
  display: flex;
  justify-content: center;
  // position: relative;
  align-items: center;
  // top: -56em;
  font-family: $font;
  color: #fff6bc;
}
.cursor-text-container p {
  font-size: 2rem;
  padding: 0.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.cursor-text-container p span.typed-text {
  font-weight: bold;
  font-size: 1.4em;
  font-family: $header-font;
  background-image: linear-gradient(
    to right top,
    #ffffff,
    #e6d45a,
    #edc059,
    #efac5e,
    #ea9a65,
    #e18b6c,
    #e1837f,
    #d97f91,
    #cb7fa2,
    #b78bc1,
    #9599d6,
    #6ba7dc
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cursor-text-container p span.cursor {
  display: inline-block;
  background-color: #fff;
  margin-left: 0.1rem;
  width: 2px;
  animation: blink 1s infinite;
}
.cursor-text-container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #fff;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #fff;
  }
}

.button-wrapper {
  margin: 2em 0;
  text-align: center;
}

.button {
  z-index: 10;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  letter-spacing: 0.5em;
  padding: 16px 7em;
  border-radius: 50em;
  font-weight: bold;
  transition: all 0.3s ease-out;
  color: $pink;
  background-color: white;
  box-shadow: 0 5px 20px 0 rgba(0, 40, 120, 0.2);
}

.button:hover {
  letter-spacing: 13px;
}
